In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("SmartCrime_Scatter.csv", sep=",")
print('shape: ', df.shape)
print('cols: ', df.columns)
df.head(5)

shape:  (21, 11)
cols:  Index(['Country', 'Part of Europe', 'City', 'Smart_Mobility',
       'Smart_Environment', 'Smart_Government', 'Smart_Economy',
       'Smart_People', 'Smart_Living', 'SmartCity_Index', 'crime_index'],
      dtype='object')

,Country,Part of Europe,City,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,crime_index
0,Luxembourg,West,Luxembourg,7540,5558,8528,8095,7098,7280,7311,13.0
1,Netherlands,West,Amsterdam,6480,6512,7516,4565,8618,9090,7138,10.5
2,Norway,North,Oslo,6302,7046,6878,5070,7734,9090,7051,3.7
3,Denmark,North,Copenaghen,6205,8184,7595,5135,6377,7200,6776,5.5
4,Austria,Central,Vienna,5683,7608,6232,5415,8580,7500,6771,4.1

In [3]:
df.describe()

,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,crime_index
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,5280.047619,6480.190476,6294.333333,6584.190476,6124.190476,6030.047619,6075.190476,7.561905
std,1105.201406,1317.760927,1130.700594,1249.460348,1221.639088,1900.068432,755.959961,3.733561
min,3333.000000,3282.000000,4333.000000,4565.000000,4234.000000,2740.000000,4860.000000,2.900000
25%,4516.000000,5837.000000,5554.000000,5490.000000,5425.000000,4250.000000,5483.000000,5.100000
50%,5326.000000,6535.000000,6110.000000,6570.000000,5980.000000,5710.000000,6058.000000,5.900000
75%,6151.000000,7204.000000,7516.000000,7585.000000,6680.000000,7500.000000,6707.000000,10.500000
max,7540.000000,8775.000000,8528.000000,9225.000000,8618.000000,9090.000000,7311.000000,15.400000

In [5]:
from sklearn.preprocessing import MinMaxScaler

numeric_columns = df.select_dtypes(include=['int', 'float']).columns

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the selected columns
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

df

,Country,Part of Europe,City,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,crime_index
0,Luxembourg,West,Luxembourg,1.000000,0.414346,1.000000,0.757511,0.653285,0.714961,1.000000,0.808
1,Netherlands,West,Amsterdam,0.748039,0.588021,0.758760,0.000000,1.000000,1.000000,0.929417,0.608
2,Norway,North,Oslo,0.705729,0.685236,0.606675,0.108369,0.798358,1.000000,0.893921,0.064
3,Denmark,North,Copenaghen,0.682672,0.892409,0.777592,0.122318,0.488823,0.702362,0.781722,0.208
4,Austria,Central,Vienna,0.558593,0.787548,0.452682,0.182403,0.991332,0.749606,0.779682,0.096
5,Switzerland,Central,Zurich,0.473734,1.000000,0.299881,0.364807,0.499772,0.822047,0.753570,0.240
6,Sweden,North,Stockholm,0.426432,0.877116,0.841478,0.204506,0.432938,0.785827,0.733578,0.600
7,Finland,North,Helsinki,0.375327,0.592208,0.432658,0.748927,0.398266,0.467717,0.727458,0.232
8,France,West,Lyon,0.626575,0.730202,0.381645,0.607940,0.265967,0.631496,0.649939,1.000
9,Hungary,Central,Budapest,0.107440,0.556709,0.779738,1.000000,0.695940,0.321260,0.515708,0.168
10,Germany,Central,Berlin,0.629903,0.714000,0.343266,0.410944,0.285584,0.427717,0.488780,0.184
11,United Kingdom,North,London,0.785120,0.667759,0.000000,0.430258,0.347400,0.285039,0.408813,0.856
12,Iceland,North,Reykjavik,0.000000,0.584744,0.107509,0.688841,0.271670,0.738583,0.351693,0.040
13,Estonia,North,Tallinn,0.130021,0.000000,0.788319,0.648069,0.164462,0.798425,0.334965,0.216
14,Ireland,North,Dublin,0.517946,0.621518,0.291061,0.198498,0.445027,0.190551,0.262342,0.672
15,Latvia,North,Riga,0.146423,0.465137,0.501073,0.717811,0.000000,0.446457,0.254182,0.000
16,Belgium,West,Brussels,0.264797,0.485709,0.423600,0.287554,0.557938,0.237795,0.211750,0.296
17,Italy,South,Rome,0.281198,0.700710,0.207390,0.433906,0.062272,0.190551,0.145247,0.312
18,Spain,South,Madrid,0.669836,0.422902,0.187128,0.144850,0.340100,0.000000,0.095471,0.736
19,Slovakia,Central,Ljubljana,0.286903,0.222101,0.275805,0.563305,0.289462,0.226772,0.093431,0.320
20,Portugal,South,Lisbon,0.302353,0.218460,0.362098,0.478541,0.065693,0.143307,0.000000,0.176

In [6]:
df.describe()

,Smart_Mobility,Smart_Environment,Smart_Government,Smart_Economy,Smart_People,Smart_Living,SmartCity_Index,crime_index
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,0.462811,0.582230,0.467541,0.433303,0.431157,0.518118,0.495794,0.372952
std,0.262705,0.239898,0.269535,0.268125,0.278659,0.299223,0.308429,0.298685
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.281198,0.465137,0.291061,0.198498,0.271670,0.237795,0.254182,0.176000
50%,0.473734,0.592208,0.423600,0.430258,0.398266,0.467717,0.488780,0.240000
75%,0.669836,0.714000,0.758760,0.648069,0.557938,0.749606,0.753570,0.608000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [84]:
df.to_csv('SmartCrime_bar_normalized.csv', index=False)